<!DOCTYPE html>
<html lang="it">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modifica Brand</title>
</head>

<body>
    <h3>Inserisci un nuovo brand</h3>

    <form action="/brand/add" th:object="${brand}" method="post">
        <input type="hidden" name="id" th:value="${brand.id}">
        <span>Modifica nome</span>
        <input type="text" name="nome" th:value="${brand.nome}">
        <input type="submit" value="Invia">
    </form>
</body>

</html>