<!DOCTYPE html>
<html lang="it" xmlns:th="https://www.thymelaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Studenti</title>
</head>

<body>
    <h1>
        <center>Studenti</center>
    </h1>

    <h3>Lista degli studenti</h3>

    <table border="1px">
        <tr>
            <th>Nome</th>
            <th>Matricola</th>
            <th>Esame</th>
            <th>Modifica</th>
            <th>Elimina</th>
        </tr>
        <tr th:if="${student.examId.name == 'WSOS'}" style="background-color: red; color: white;"
            th:each="student : ${students}">
            <td th:text="${student.name}"></td>
            <td th:text="${student.matricola}"></td>
            <td th:text="${student.examId.name}"></td>

            <td>
                <form action="/students/edit" method="post">
                    <input type="hidden" name="id" th:value="${student.id}">
                    <input type="submit" value="Modifica">
                </form>
            </td>
            <td>
                <form action="/students/delete" method="post">
                    <input type="hidden" name="id" th:value="${student.id}">
                    <input type="submit" value="Elimina">
                </form>
            </td>
        </tr>
        <tr th:unless="${student.examId.name == 'WSOS'}" th:each="student : ${students}">
            <td th:text="${student.name}"></td>
            <td th:text="${student.matricola}"></td>
            <td th:text="${student.examId.name}"></td>

            <td>
                <form action="/students/edit" method="post">
                    <input type="hidden" name="id" th:value="${student.id}">
                    <input type="submit" value="Modifica">
                </form>
            </td>
            <td>
                <form action="/students/delete" method="post">
                    <input type="hidden" name="id" th:value="${student.id}">
                    <input type="submit" value="Elimina">
                </form>
            </td>
        </tr>
    </table>

    <h3>Inserisci un nuovo studente</h3>

    <form action="/students/create" method="post">
        <span>Inserisci nome</span>
        <input type="text" name="name">
        <span>Inserisci matricola</span>
        <input type="text" name="matricola">
        <span>Inserisci esame</span>
        <select name="examId">
            <option th:each="exam:${exams}" th:value="${exam.id}" th:text="${exam.name}"></option>
        </select>
        <input type="submit" value="Invia">
    </form>

    <h3>Filtra per Materia</h3>

    <form action="/students/filterBySubject" method="post">
        <span>Filtra per: </span>
        <select name="examId">
            <option th:each="exam:${exams}" th:value="${exam.id}" th:text="${exam.name}"></option>
        </select>
        <input type="submit" value="Cerca">
    </form>


    <br><br>
    <a href="/exam">Visualizza Esami</a>

</body>

</html>