<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymelaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Squadre</title>
</head>

<body>
    <h1>
        <center>
            Lista Giocatori
        </center>
    </h1>

    <table border="1px">
        <tr>
            <th>Nome</th>
            <th>Numero Maglia</th>
            <th>Squadra</th>
            <th>Modifica</th>
            <th>Elimina</th>
        </tr>
        <tr th:each="giocatore : ${giocatori}">
            <td th:text="${giocatore.nome}"></td>
            <td th:text="${giocatore.numeroMaglia}"></td>
            <td th:text="${giocatore.squadraId.name}"></td>

            <td> <a th:href="@{/giocatori/{id}/edit(id=${giocatore.id})}">Modifica</a></td>
            <td> <a th:href="@{/giocatori/{id}/delete(id=${giocatore.id})}">Elimina</a></td>
        </tr>
    </table>

    <h3>Inserisci un nuovo giocatore</h3>

    <a th:href="@{/giocatori/new}">Aggiungi un nuovo Giocatore</a>

    <h3>Visualizza Squadre</h3>

    <a th:href="@{/squadra}">Visualizza squadre</a>

    <h3>Ricerca Giocatore</h3>

    <form th:action="@{/giocatori/search}" method="post">
        <input type="text" name="search">
        <input type="submit" value="Filtra">
    </form>

</body>

</html>